{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

<title>{% block pagetitle %}{% endblock %}</title>

<meta property="og:title" content="Nalypoll - 投票ツイートグラフ追跡サービス">
<meta property="og:description" content="投票ツイートを登録すると投票状況を追跡してグラフ化します">
<meta property="og:type" content="website">
<meta property="og:url" content="https://nalypoll.aoirint.com">
<meta property="og:image" content="https://nalypoll.aoirint.com/static/images/ogp.png">

<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous">

<style>
@media (max-width: 992px) and (max-height: 500px) and (orientation: landscape) {
  .mobile-landscape-fill-height {
    width: 56.249vh;
    height: 100vh;
  }
}
</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
  integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.17.0/js/md5.min.js"
  integrity="sha256-cpbDsuAF6YYKGsywuE65CvzsMKN6x4m6733ZnT3QHHE="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/d3@5.16.0/dist/d3.min.js"
  integrity="sha256-Xb6SSzhH3wEPC4Vy3W70Lqh9Y3Du/3KxPqI2JHQSpTw="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"
  integrity="sha256-Xjq9HM9n3XzT47n/NmSEaJUwPi7hme++D8mxHfSr+0Q="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"
  integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw="
  crossorigin="anonymous"></script>
<script src="{% static 'js/barchartrace.js' %}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157155944-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157155944-4');
</script>


<!-- https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>


<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'main:index' %}">Nalypoll</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
{% if twitter.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'main:user' %}" class="nav-link">マイページ</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'main:user_menu' %}" class="nav-link">メニュー</a>
      </li>
{% endif %}
    </ul>
    <ul class="navbar-nav">
{% if twitter.is_authenticated %}
      <li class="nav-item">
        <span class="nav-link">
        ログイン中（<a href="https://twitter.com/{{ twitter.screen_name }}" target="_blank">@{{ twitter.screen_name }}</a>）
        </span>
      </li>
      <li class="nav-item">
        <form method="POST" action="{% url 'main:oauth_logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn nav-link">ログアウト</button>
        </form>
      </li>
{% endif %}
    </ul>
  </div>
</nav>

{% block content %}{% endblock %}
{% block main2 %}{% endblock %}
