{% extends 'base_basic.html' %}
{% load static %}

{% block pagetitle %}Nalypoll{% endblock %}

{% block main %}
<h2 class="mt-4">Nalypoll</h2>

<p>
  <form method="POST" action="{% url 'main:oauth' %}">
    {% csrf_token %}
    <button type="submit" class="btn">
      <img src="{% static 'images/auth_twitter.png' %}" alt="Sign in with Twitter">
    </button>
  </form>

<hr>

<h3>このアプリケーションで何ができますか？</h3>
<ul>
  <li>あなたは自分が投稿した投票ツイートをこのサービスに登録することで、投票状況の時系列変化を確認できるようになります。
  <li>
</ul>

<h3>このアプリケーションは何をしますか？</h3>
<ul>
  <li>Twitterでログインすると、あなたが投稿した最近のツイートを10件まで取得し、そのうち投票が含まれるツイートを一覧表示します。
  <li>あなたは新しい投票ツイートをしたあと、一覧を表示してツイートをサービスに登録することができます。
  <li>このアプリケーションは、あなたが登録したツイートの投票状況や周辺情報を適当な間隔ごとに自動取得し、記録します。
  <li>登録したツイートには個別ページを作り、投票状況の時系列変化をグラフで可視化します。
  <li>削除されたツイートは自動更新のタイミングでこのサービス上から削除します。
</ul>

<h3>アプリケーションの使用をやめたいのですが？</h3>
<ul>
  <li>ログイン中に表示されるメニューという項目から、次の操作ができます。
  <li>TODO: ツイートの登録をすべて解除
    <ul>
      <li>あなたがサービス上に登録したツイートの登録をすべて解除します。
      <li>投票状況の自動更新は止まりますが、個別ページは削除されません。
    </ul>
  <li>投票状況関連データを削除
    <ul>
      <li>このサービス上に記録した、あなたにひもづいた投票状況に関連するデータを削除します。
      <li>ツイートの登録をすべて解除し、登録したツイートの投票状況ログ、個別ページを削除します。
    </ul>
  <li>認証情報の削除
    <ul>
      <li>あなたのログイン状態を保持している認証情報を削除します。
      <li>再ログインすることで新しい認証情報が記録されます。
    </ul>
</ul>

{% endblock %}
