{% extends 'base_basic.html' %}
{% load static %}

{% block pagetitle %}マイページ - Nalypoll{% endblock %}

{% block main %}
<h2 class="mt-4">最近の投票ツイート</h2>

<form id="register_form" method="POST">
  {% csrf_token %}
  <input id="tweet_id_input" name="tweet_id" type="hidden">
</form>

<div class="row">
{% for tweet in tweets %}
{% if tweet.attachments.poll_ids %}
  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="https://twitter.com/{{ tweet.author.username }}/status/{{ tweet.id }}" target="_blank">
            {{ tweet.text }}
          </a>
        </h5>
        <h6 class="small text-secondary mb-3">{{ tweet.author.name }} (@{{ tweet.author.username }})</h6>
{% for poll in tweet.polls %}
        <ul class="list-group my-4">
{% for option in poll.options %}
          <li class="list-group-item">{{ option.label }} ({{ option.votes }}票, {{ option.percentage |floatformat:-2 }}%)
{% endfor %}
        </ul>

        <div class="text-right">
{% if not tweet.registered %}
          <button type="submit" data-tweet="{{ tweet.id }}" form="register_form" class="btn btn-primary register-tweet-button px-4">登録</button>
{% else %}
          <a href="{% url 'main:poll' tweet.id %}" class="btn btn-secondary px-4">確認</a>
{% endif %}
        </div>
{% endfor %}

      </div>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>

<script>
(function() {
  let tweetIdInput = document.querySelector('#tweet_id_input');
  [...document.querySelectorAll('.register-tweet-button')].forEach(button => {
    button.addEventListener('click', event => {
      tweetIdInput.value = button.dataset.tweet;
    });
  });
})();
</script>

{% endblock %}
