{% extends 'base_fluid.html' %}

{% block pagetitle %}{{ tweet.author.name }} (@{{ tweet.author.screen_name }}) さんの投票ツイート: {{ tweet.text_oneline |truncatechars:40}} - Nalypoll{% endblock %}

{% block main %}
<div class="pt-4"></div>

<div id="data_polls"
  data-tweet="{{ tweet.json }}"
  data-polls="{{ tweet.polls_json }}"
></div>



<div class="row mx-lg-5">
  <div class="col-12">
    <div class="alert alert-danger">
      このページはあなただけが見ることができます。共有する場合はスクリーンショットや画面収録、画像をご利用ください。
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">
{% if tweet.last_polls.first.voting_status == 'open' %}
        <div class="alert alert-primary">
          投票受付中
        </div>
{% else %}
        <div class="alert alert-success">
          投票終了
        </div>
{% endif %}
      </div>
      <div class="col-12">
        <div id="embed_tweet_container" class="d-flex justify-content-center"></div>
      </div>
    </div>
  </div>

  <div class="my-4 col-12 col-lg-8 d-flex flex-column">
    <div class="flex-grow-1 m-lg-2 d-flex justify-content-center align-items-center">
      <div id="chart_polls"></div>
    </div>

    <div>
      <div class="my-4 d-flex justify-content-end">
        <button id="download_as_image_button" type="button" class="btn btn-primary" title="PNG画像としてダウンロード">
          画像としてダウンロード
        </button>
        <button id="download_as_csv_button" type="button" class="btn btn-secondary ml-4" title="タイムスタンプ,選択肢,得票数 形式のCSVとしてダウンロード">
          CSVとしてダウンロード
        </button>
      </div>

{% if tweet.registered %}
      <div class="my-4 d-flex justify-content-end">
        <form id="unregister_form" method="POST" action="{% url 'main:unregister_poll' tweet.remote_id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger"
            form="unregister_form"
            onclick="return confirm('ツイートの登録を解除しますか？（自動更新が停止します）');">
            登録を解除
          </button>
        </form>
      </div>
{% elif tweet.can_register %}
      <div class="my-4 d-flex justify-content-end">
        <form id="register_form" method="POST" action="{% url 'main:register_poll' tweet.remote_id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success"
            form="register_form"
            onclick="return confirm('ツイートを登録しますか？（自動更新が開始します）');">
            ツイートを登録
          </button>
        </form>
      </div>
{% endif %}

      <div class="my-4 d-flex justify-content-end">
        <form id="delete_form" method="POST" action="{% url 'main:remove_poll' tweet.remote_id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger"
            form="delete_form"
            onclick="return confirm('ログデータを削除しますか？（ツイートは削除されませんが、サービスに蓄積された投票状況などのデータが削除されます）');">
            ログデータを削除
          </button>
        </form>
      </div>

    </div>

  </div>


  <div class="col-12 d-flex align-items-center p-2" style="height: 100vh;">
    <div class="card w-100 h-100">
      <div class="card-body d-flex flex-column">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">
            {{ tweet.text_unescaped }}
            <br>
            by {{ tweet.author.name }} (@{{ tweet.author.screen_name }})
          </h5>
          <div class="ml-2">
            <button id="barchartrace_button" type="button" class="btn btn-primary"
              style="white-space: nowrap; outline:none !important; box-shadow: none !important;"
              onclick="startBarChartRace();">
              再生
            </button>
          </div>
        </div>
        <div class="h-100">
          <div id="chartDiv" class="w-100 h-100"></div>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  let chartScaleRate = 1.6; // 1280x720

  Chart.defaults.global.defaultFontSize = 12 * chartScaleRate;

  function timestampSeconds2label(timestampSeconds) {
    let de = new Date(timestampSeconds * 1000);
    let y = new String(de.getFullYear()).slice(-2);
    if (y.length == 1) y = '0' + y;

    let mt = new String(de.getMonth() + 1);
    if (mt.length == 1) mt = '0' + mt;

    let dt = new String(de.getDate());
    if (dt.length == 1) dt = '0' + dt;

    let h = new String(de.getHours());
    if (h.length == 1) h = '0' + h;

    let m = new String(de.getMinutes());
    if (m.length == 1) m = '0' + m;

    // let s = new String(de.getSeconds());
    // if (s.length == 1) s = '0' + s;

    return [
      y + '/' + mt + '/' + dt,
      h + ':' + m,
    ];
  }

  function getFixedVoteData(votesList, timestamps, posted_at, end_time) {
    let data = [];

    data.push({
      'x': posted_at,
      'y': 0,
    });

    for (let timestampIndex in timestamps) {
      let time = timestamps[timestampIndex];
      if (time > end_time) continue;

      data.push({
        'x': time,
        'y': votesList[timestampIndex],
      });
    }

    // closed => last votes == final result
    if (timestamps.length > 0 && timestamps[timestamps.length - 1] >= end_time) {
      data.push({
        'x': end_time,
        'y': votesList[timestamps.length - 1],
      });
    }

    return data;
  }

  function renderChart(poll, canvasElm, completion) {
    let chartPollCtx = canvasElm.getContext('2d');

    let options = Object.keys(poll.votes);
    let timestamps = poll.timestamps;
    let datasets = [];
    let backgroundColors = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
    ];
    let borderColors = [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
    ];

    let sampleCount = poll.votes[options[0]].length;
    // let duration = poll.end_time - tweet.posted_at;
    for (let optionIndex in options) {
      let option = options[optionIndex];
      let votesList = poll.votes[option];
      let data = getFixedVoteData(votesList, poll.timestamps, tweet.posted_at, poll.end_time);

      // option = '選択肢' + optionIndex;

      datasets.push({
        'label': option,
        'lineTension': false, // disable interpolation
        'data': data,
        'backgroundColor': backgroundColors[optionIndex],
        'borderColor': borderColors[optionIndex],
        'borderWidth': 1,
      });
    }

    let title = tweet.text.split('\n');
    title.push('by ' + tweet.author.name + ' (@' + tweet.author.screen_name + ')');

    return new Chart(chartPollCtx, {
      'type': 'line',
      'data': {
        'datasets': datasets,
      },
      'options': {
        'layout': {
          'padding': 24,
        },
        'title': {
          'display': true,
          'fontSize': 24 * chartScaleRate,
          'text': title,
        },
        'legend': {
          'display': true,
          'labels': {
            'fontSize': 18 * chartScaleRate,
          },
        },
        'scales': {
          'xAxes': [{
            'type': 'linear',
            'position': 'bottom',
            'ticks': {
              'autoSkip': true,
              'maxRotation': 90,
              'minRotation': 90,
              'min': tweet.posted_at,
              'max': poll.end_time,
              'callback': (value, index, values) => {
                let lastvalue = values[index - 1];
                let tick = timestampSeconds2label(value);
                if (lastvalue && timestampSeconds2label(lastvalue) == tick) return '';
                return tick;
              },
            },
          }],
          'yAxes': [{
            'ticks': {
              'min': 0,
              'precision': 0,
            },
          }],
        },
        'tooltips': {
          'mode': 'index',
          'intersect': false,
          'itemSort': (a, b, data) => b.yLabel - a.yLabel,
          'callbacks': {
            'title': (tooltipItems, data) => {
              let timestamp = parseInt(tooltipItems[0].xLabel); // original label
              let title = timestampSeconds2label(timestamp).join(' ');

              return title;
            },
          },
        },
        'hover': {
          'mode': 'index',
          'intersect': false,
        },
        'animation': {
          'onComplete': completion,
        },
        'responsive': false,
      },
    });
  }

  // set Chart.js background
  Chart.pluginService.register({
    'beforeDraw': c => {
      let ctx = c.chart.ctx;
      ctx.fillStyle = 'rgba(255, 255, 255, 1.0)';
      ctx.fillRect(0, 0, c.chart.width, c.chart.height);
    }
  })

  function replaceEntities(text) {
    return text.replace('&quot;', '"').replace('&#39;', "'").replace('&lt;', '<').replace('&gt;', '>').replace('&amp;', '&');
  }

  let dataPollsElm = document.querySelector('#data_polls');
  let tweet = JSON.parse(replaceEntities(dataPollsElm.dataset.tweet));
  let polls = JSON.parse(replaceEntities(dataPollsElm.dataset.polls));

{% comment %}
  // debug
  tweet = {
    'id': 0,
    'text': 'あなたの投票',
    'author': {
      'name': 'あなた',
      'screen_name': 'TOS',
    },
    'posted_at': 1598922000,
  };
  polls = [
    {
      'id': 1,
      'end_time': 1598922000 + 24*60*60,
      'voting_status': 'open',
      'votes': {
        'すごくすき': [
          0,
          10,
          20,
          35,
        ],
        'すき': [
          0,
          5,
          15,
          40,
        ],
        'きらい': [
          0,
          3,
          12,
          28,
        ],
        'すごくきらい': [
          0,
          8,
          10,
          18,
        ],
      },
      'timestamps': [
        1598922000 + 0*60*60,
        1598922000 + 4*60*60,
        1598922000 + 8*60*60,
        1598922000 + 12*60*60,
      ],
    },
  ];
{% endcomment %}

  let embedTweetContainer = document.querySelector('#embed_tweet_container');
  twttr.ready(twttr => {
    twttr.widgets.createTweet(tweet.id, embedTweetContainer, {
    }).then(elm => {
    });
  });

  let chartContainer = document.querySelector('#chart_container');
  let chartPollsElm = document.querySelector('#chart_polls');
  let chartPollElm = null;

  for (let poll of polls) {
    chartPollElm = document.createElement('canvas');
    chartPollElm.width = 800 * chartScaleRate;
    chartPollElm.height = 450 * chartScaleRate;
    chartPollElm.style.width = '100%';
    chartPollElm.classList.add('mobile-landscape-fill-height');

    let chartPoll = renderChart(poll, chartPollElm);
    chartPollsElm.appendChild(chartPollElm);

    break;
  }

  let downloadAsImageButton = document.querySelector('#download_as_image_button');
  downloadAsImageButton.addEventListener('click', event => {
    downloadAsImageButton.disabled = true;

    let poll = polls.length > 0 ? polls[0] : null;
    if (! poll) return;

    let chartPollElm = document.createElement('canvas');
    chartPollElm.style.position = 'absolute';
    chartPollElm.style.display = 'none';
    chartPollElm.width = chartPollElm.style.width = 800 * chartScaleRate;
    chartPollElm.height = chartPollElm.style.height = 450 * chartScaleRate;

    document.body.appendChild(chartPollElm);

    let chartPoll = renderChart(poll, chartPollElm, () => {
      let base64chart = chartPollElm.toDataURL();
      document.body.removeChild(chartPollElm);

      let hashChartImage = md5(base64chart); // TODO: raw binary hash

      let anchor = document.createElement('a');
      anchor.download = hashChartImage + '.png';
      anchor.href = base64chart;

      document.body.appendChild(anchor);
      anchor.click();
      document.body.removeChild(anchor);

      downloadAsImageButton.disabled = false;
    });
  });

  let downloadAsCSVButton = document.querySelector('#download_as_csv_button');
  function createCSV() {
    let poll = polls.length > 0 ? polls[0] : null;
    if (! poll) return null;

    let output = '';

    let options = Object.keys(poll.votes);
    for (let option of options) {
      let votesList = poll.votes[option];
      let data = getFixedVoteData(votesList, poll.timestamps, tweet.posted_at, poll.end_time);

      for (let entry of data) {
        output += entry['x'] + ',' + option + ',' + entry['y'] + '\n';
      }
    }

    return output;
  }
  downloadAsCSVButton.addEventListener('click', event => {
    downloadAsCSVButton.disabled = true;
    let output = createCSV();

    let hash = md5(output);
    let anchor = document.createElement('a');
    anchor.download = hash + '.csv';
    anchor.href = 'data:text/csv;base64,' + window.btoa(unescape(encodeURIComponent(output)));

    document.body.appendChild(anchor);
    anchor.click();
    document.body.removeChild(anchor);

    downloadAsCSVButton.disabled = false;
  });


  let barChartRaceData = null;
  let barChartRaceInterval = null;
  let barChartRaceButtonShowTimeout = null;
  (function() {
    let csvText = createCSV();
    Papa.parse(csvText, {
      'header': false,
      'skipEmptyLines': true,
      'complete': (results) => {
        results.data = reshapeBarChartRaceData(results.data);

        barChartRaceData = JSON.parse(JSON.stringify(results.data));
        startBarChartRace();
      },
    });
  })();

  let barchartraceButton = document.querySelector('#barchartrace_button')
  barchartraceButton.addEventListener('click', (e) => {
    startBarChartRace(() => {
      barchartraceButton.style.opacity = '0';
    });
  });
  function startBarChartRace(onStart) {
    let duration = 20;
    let topN = Object.keys(polls[0].votes).length;
    let tickDuration = duration / barChartRaceData.length * 1000;

    stopBarChartRace();
    clearTimeout(barChartRaceButtonShowTimeout);

    if (onStart) onStart();

    let cloneData = barChartRaceData.map(obj => Object.assign(new Object(), obj));

    barChartRaceInterval = createBarChartRace(cloneData, topN, tickDuration,
      // onGraphUpdated
      (svg) => {
      },
      // onFinished
      () => {
        stopBarChartRace();
      },
    ); // #chartDiv
  }
  function stopBarChartRace() {
    if (! barChartRaceInterval) return;

    barChartRaceButtonShowTimeout = setTimeout(() => {
      barchartraceButton.style.opacity = '1';
    }, 2000);
    barChartRaceInterval.stop();
    barChartRaceInterval = null;
  }

  window.addEventListener('resize', function() {
    // let restart = barChartRaceInterval != null;
    stopBarChartRace();
    startBarChartRace();
  });

</script>

{% endblock %}
