{% extends 'base_basic.html' %}
{% load static %}

{% block pagetitle %}マイページ - Nalypoll{% endblock %}

{% block main %}

<div class="row">
  <div class="col-12 my-4 d-flex justify-content-end">
    <form method="POST" action="{% url 'main:register_poll' %}">
      {% csrf_token %}
      <div class="d-flex align-items-center">
        <label for="id_tweet_id_or_url" style="margin: 0 .5rem; white-space: nowrap;">新しいツイート</label>
        <div class="input-group">
          <input id="id_tweet_id_or_url" name="tweet_id_or_url" placeholder="Tweet ID or URL" size="30" class="form-control">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary px-4">登録</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <a href="{% url 'main:user_recent' %}" class="btn btn-primary">最近のツイートから登録</a>
  </div>
</div>

<h2 class="mt-4">登録した投票ツイート</h2>
<div class="row">
{% for tweet in registering_tweets %}
{% include 'parts/tweet_card_db.html' %}
{% endfor %}
</div>

{% comment %}
<h2 class="mt-4">終了した投票ツイート</h2>

<div class="row">
{% for tweet in closed_poll_tweets %}
{% include 'parts/tweet_card_db.html' %}
{% endfor %}
</div>
{% endcomment %}

{% endblock %}
