
<div class="col-12 col-md-6 col-lg-4 my-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <a href="https://twitter.com/{{ tweet.author.screen_name }}/status/{{ tweet.remote_id }}" target="_blank">
          {{ tweet.text }}
        </a>
      </h5>
      <h6 class="small text-secondary mb-3">
        <a href="https://twitter.com/{{ tweet.author.screen_name }}" target="_blank">
          {{ tweet.author.name }} (@{{ tweet.author.screen_name }})
        </a>
      </h6>

{% for poll in tweet.last_polls %}
      <ul class="list-group my-4">
{% for option in poll.options %}
        <li class="list-group-item">{{ option.label }} ({{ option.votes }}票, {{ option.percentage |floatformat:-2 }}%)
{% endfor %}
      </ul>
{% endfor %}

      <div class="d-flex justify-content-between">
{% if tweet.is_poll_open %}
        <div class="alert alert-primary my-0 d-flex align-items-center" style="padding-top: .375rem; padding-bottom: .375rem;">
          投票受付中
        </div>
{% else %}
        <div class="alert alert-success my-0 d-flex align-items-center" style="padding-top: .375rem; padding-bottom: .375rem;">
          投票終了
        </div>
{% endif %}

        <div class="d-flex justify-content-end">
          <a href="{% url 'main:poll' tweet.remote_id %}" class="btn btn-secondary ml-4 px-4">確認</a>
        </div>

      </div>

    </div>
  </div>
</div>
