{% extends 'base_basic.html' %}
{% load static %}

{% block pagetitle %}TwiAnalyPolls{% endblock %}

{% block main %}
<h2 class="mt-4">TwiAnalyPolls</h2>

<p>
  <form method="POST" action="{% url 'main:oauth' %}">
    {% csrf_token %}
    <button type="submit" class="btn">
      <img src="{% static 'images/auth_twitter.png' %}" alt="Sign in with Twitter">
    </button>
  </form>

<hr>

<h3>このアプリケーションは何をしますか？</h3>
<ul>
  <li>Twitterでログインすると、トークンを介してあなたの最近のツイートを10件まで取得し、投票が含まれるツイートを一覧表示します。
  <li>あなたは新しい投票ツイートをしたあと、一覧を表示してそのツイートをサービスに登録することができます。
  <li>このアプリケーションはあなたのトークンを介して、あなたが登録したツイートの投票状況や周辺情報を適当な間隔ごとに自動取得し、記録します。
  <li>登録したツイートには個別ページを作り、投票状況の時系列変化をグラフで可視化します。
</ul>

<h3>アプリケーションの使用をやめたいのですが？</h3>
<ul>
  <li>ログイン中に表示されるメニューという項目から、次の操作ができます。
  <li>投票状況関連データを削除
    <ul>
      <li>このサービス上に記録した、あなたにひもづいた投票状況に関連するデータを削除します。
      <li>登録したツイートの投票状況ログ、個別ページが削除されます。
    </ul>
  <li>認証情報の削除
    <ul>
      <li>投票状況の自動記録に使うトークンを削除します。
      <li>登録されているツイートがある場合でもトークンがなくなるため記録は停止します。
      <li>Twitter上で連携を解除してトークンを失効させても記録は停止します。
      <li>もう一度Twitterでログインして、トークンを再登録することで記録を再開します。
    </ul>
</ul>

{% endblock %}
