{% extends 'base_basic.html' %}
{% load static %}

{% block pagetitle %}TwiAnalyPolls{% endblock %}

{% block main %}
<h2 class="mt-4">TwiAnalyPolls</h2>

<p>
  <form method="POST" action="{% url 'main:oauth' %}">
    {% csrf_token %}
    <button type="submit">
      <img src="{% static 'images/auth_twitter.png' %}" alt="Sign in with Twitter">
    </button>
  </form>

<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <div class="input-group">
      {{ form.tweet_id_or_url }}
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary px-4">確認/登録</button>
      </div>
    </div>
  </div>
</form>

<hr>

<h3>このアプリケーションは何をしますか？</h3>
<ul>
  <li>Twitter連携すると、これを介してあなたの最近のツイートを10件まで取得し、投票が含まれるツイートを一覧表示します。
  <li>あなたは新しい投票ツイートをしたあと、このアプリケーションにログインして一覧からそのツイートを選択します。
  <li>このアプリケーションはTwitter連携を介して、そのツイートの投票状況を適当な間隔ごとに取得し、記録します。
</ul>

<p>
  <a
    href="https://twitter.com/search?q=card_name%3Apoll2choice_text_only%20OR%20card_name%3Apoll3choice_text_only%20OR%20card_name%3Apoll4choice_text_only%20OR%20card_name%3Apoll2choice_image%20OR%20card_name%3Apoll3choice_image%20OR%20card_name%3Apoll4choice_image"
    target="_blank"
    class="btn btn-primary"
  >
    投票付きのツイートを検索（Twitter）
  </a>

{% endblock %}
