{% extends 'base.html' %}

{% block main %}
<h2>{{ tweet_id }}</h2>

<p>
  {{ tweet.id }}

<p>
  {{ tweet.text }}

<p>
  Posted at {{ tweet.remote_created_at }}

{% for poll in tweet.last_polls %}
<h3>Poll {{ poll.remote_id }}</h3>
<ul>
  <li>Checked at: {{ poll.checked_at }}
  <li>End: {{ poll.end_datetime }}
  <li>Duration: {{ poll.duration_minutes }} minutes
</ul>

<ul>
{% for option in poll.options %}
  <li>{{ option.label }}: {{ option.votes }} ({{ option.percentage |floatformat:-2 }} %)
{% endfor %}
</ul>

{% endfor %}

{% endblock %}
